In [1]:
import pandas as pd
import yfinance as yf

In [13]:
TICKERS = [
    "AAPL", "TSLA", "AMZN", "MSFT", "NVDA",
    "GME", "AMC", "META","JPM", "SPY",
    "UNH", "C"
]
tickers = TICKERS
df = yf.download(tickers, period="1mo", interval="1d", group_by='ticker', auto_adjust=False)

[*********************100%***********************]  12 of 12 completed

In [14]:
df.head()

Ticker            AMZN                                                  \
Price             Open        High         Low       Close   Adj Close
Date
2025-04-24  180.919998  186.740005  180.179993  186.539993  186.539993
2025-04-25  187.619995  189.940002  185.490005  188.990005  188.990005
2025-04-28  190.110001  190.220001  184.889999  187.699997  187.699997
2025-04-29  183.990005  188.020004  183.679993  187.389999  187.389999
2025-04-30  182.169998  185.050003  178.850006  184.419998  184.419998

Ticker                       JPM                                      ...  \
Price         Volume        Open        High         Low       Close  ...
Date                                                                  ...
2025-04-24  43763200  239.740005  245.470001  237.580002  244.639999  ...
2025-04-25  36414300  244.649994  245.619995  241.750000  243.550003  ...
2025-04-28  33224700  244.559998  246.839996  240.839996  243.220001  ...
2025-04-29  41667300  242.190002  245.250000  241.690002  244.619995  ...
2025-04-30  55176500  241.210007  245.220001  238.429993  244.619995  ...

Ticker              C                                        META              \
Price             Low      Close  Adj Close    Volume        Open        High
Date
2025-04-24  65.779999  68.160004  67.619278  13672300  518.729980  533.900024
2025-04-25  67.760002  68.430000  67.887138  12253400  546.799988  549.859985
2025-04-28  67.769997  68.279999  67.738327  14304800  555.640015  558.489990
2025-04-29  67.970001  68.879997  68.333565   8862800  546.000000  556.570007
2025-04-30  66.720001  68.379997  67.837532  15756500  538.400024  549.099976

Ticker
Price              Low       Close   Adj Close    Volume
Date
2025-04-24  517.500000  533.150024  533.150024  13910000
2025-04-25  536.250000  547.270020  547.270020  17098900
2025-04-28  540.590027  549.739990  549.739990  15179000
2025-04-29  544.119995  554.440002  554.440002  11835000
2025-04-30  529.500000  549.000000  549.000000  29244000

[5 rows x 72 columns]

In [15]:
df_multi_index.columns

MultiIndex([('AMZN',      'Open'),
            ('AMZN',      'High'),
            ('AMZN',       'Low'),
            ('AMZN',     'Close'),
            ('AMZN', 'Adj Close'),
            ('AMZN',    'Volume'),
            ( 'JPM',      'Open'),
            ( 'JPM',      'High'),
            ( 'JPM',       'Low'),
            ( 'JPM',     'Close'),
            ( 'JPM', 'Adj Close'),
            ( 'JPM',    'Volume'),
            ( 'UNH',      'Open'),
            ( 'UNH',      'High'),
            ( 'UNH',       'Low'),
            ( 'UNH',     'Close'),
            ( 'UNH', 'Adj Close'),
            ( 'UNH',    'Volume'),
            ('TSLA',      'Open'),
            ('TSLA',      'High'),
            ('TSLA',       'Low'),
            ('TSLA',     'Close'),
            ('TSLA', 'Adj Close'),
            ('TSLA',    'Volume'),
            ( 'GME',      'Open'),
            ( 'GME',      'High'),
            ( 'GME',       'Low'),
            ( 'GME',     'Close'),
            ( 'GME', 'Adj Close'),
            ( 'GME',    'Volume'),
            ('NVDA',      'Open'),
            ('NVDA',      'High'),
            ('NVDA',       'Low'),
            ('NVDA',     'Close'),
            ('NVDA', 'Adj Close'),
            ('NVDA',    'Volume'),
            ('AAPL',      'Open'),
            ('AAPL',      'High'),
            ('AAPL',       'Low'),
            ('AAPL',     'Close'),
            ('AAPL', 'Adj Close'),
            ('AAPL',    'Volume'),
            ( 'SPY',      'Open'),
            ( 'SPY',      'High'),
            ( 'SPY',       'Low'),
            ( 'SPY',     'Close'),
            ( 'SPY', 'Adj Close'),
            ( 'SPY',    'Volume'),
            ( 'AMC',      'Open'),
            ( 'AMC',      'High'),
            ( 'AMC',       'Low'),
            ( 'AMC',     'Close'),
            ( 'AMC', 'Adj Close'),
            ( 'AMC',    'Volume'),
            ('MSFT',      'Open'),
            ('MSFT',      'High'),
            ('MSFT',       'Low'),
            ('MSFT',     'Close'),
            ('MSFT', 'Adj Close'),
            ('MSFT',    'Volume'),
            (   'C',      'Open'),
            (   'C',      'High'),
            (   'C',       'Low'),
            (   'C',     'Close'),
            (   'C', 'Adj Close'),
            (   'C',    'Volume'),
            ('META',      'Open'),
            ('META',      'High'),
            ('META',       'Low'),
            ('META',     'Close'),
            ('META', 'Adj Close'),
            ('META',    'Volume')],
           names=['Ticker', 'Price'])

In [21]:
flat_df = (
            df.stack(level=0, future_stack=True)  # Make each ticker a row group
              .reset_index()
              .rename(columns={
                  "Date": "date",
                  "Open": "open",
                  "High": "high",
                  "Low": "low",
                  "Close": "close",
                  "Volume": "volume",
                  "Ticker": "ticker"
              })[["date", "ticker", "open", "high", "low", "close", "volume"]]
        )

In [22]:
flat_df.head()

Price,date,ticker,open,high,low,close,volume
0,2025-04-24,AMZN,180.919998,186.740005,180.179993,186.539993,43763200
1,2025-04-24,JPM,239.740005,245.470001,237.580002,244.639999,9055200
2,2025-04-24,UNH,427.570007,429.899994,423.649994,424.250000,7629100
3,2025-04-24,TSLA,250.500000,259.540009,249.199997,259.510010,94464200
4,2025-04-24,GME,27.100000,27.580000,26.840000,27.080000,6212100