In [2]:
import pandas as pd
import yfinance as yf

In [6]:
TICKERS = [
    "AAPL", "TSLA", "AMZN", "MSFT", "NVDA",
    "GME", "AMC", "META","JPM", "SPY",
    "UNH", "C"
]
tickers = TICKERS
df_multi_index = yf.download("C", period="1mo", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [7]:
df_multi_index.head()

Price           Close       High        Low       Open    Volume
Ticker              C          C          C          C         C
Date
2025-04-24  67.619278  67.797843  65.258154  65.734349  13672300
2025-04-25  67.887138  68.164916  67.222455  67.321661  12253400
2025-04-28  67.738327  68.849445  67.232371  68.115317  14304800
2025-04-29  68.333565  68.561743  67.430788  67.490309   8862800
2025-04-30  67.837532  68.115317  66.190705  66.974439  15756500

In [8]:
df_multi_index.columns

MultiIndex([( 'Close', 'C'),
            (  'High', 'C'),
            (   'Low', 'C'),
            (  'Open', 'C'),
            ('Volume', 'C')],
           names=['Price', 'Ticker'])